@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('https://axa365-my.sharepoint.com/:i:/r/personal/a114sr_login_axa/Documents/Images/imagecompteur%20voiture2%20(2).png?csf=1&web=1&e=wdd3ds'); background-position: center;
    background-repeat: no-repeat">

<div class="text-center">
    <h1 class="display-4">Bienvenue chez Express Voitures</h1>
    <h2> Trouvez</h2> <a asp-controller="Voitures" asp-action="Index">Ici</a><h2>la voiture que vous Cherchez</h2>

    </div>
  
</body>
